@import "../../../../styles/utils"

.Title
    +r
    +bdrt
    +bg(transparent)
    +p($b025)
    +mnw($b2)
    // +mt(-$b025)
    +ml(-$b05)
    +noout
    +s
    // +oh

    +fs($b075)
    +fw(800)
    font-style: italic

    &::placeholder
        +c($d1)
        +fw(600)
        font-style: italic
    &:focus
        // +fw(600)
        +bdr($d2)
        +bg($l1)
        +p($b025 $b05)
        font-style: normal
    
.title-untitled
    &::after
        +oe
        content: "Untitled..."
        +o(.5)