@import "../../styles/utils"

.Item
    +bdrrad($b)
    +bdr($d2)
    +p($b)
    +m($b)
    +whs(fit-content)
    +mxw($b4*8)
    +s
    +cp
    +bg($l1)
    +shd0
    +posr


    img
        pointer-events: none

    .child
        +shd1
        +m($b05)
        +w(100%)
        +mxw($b4*4)
        box-shadow: none
        .no-content
            +mxw($b4*2)
        .item-top
            .left
                +oe
        .item-content
            -webkit-line-clamp: 4
        &:hover
            transform: scale(1)
    
    .item-top
        +df
        +aic
        +jcb
        .left, .right
            +df
            +aic
        .right
            +s
            +o(0)
            .icon
                +whs($b15)
                +r
                +p($b025)
                +bdr(transparent)
                &:hover
                    +bdr($d2)
        .title
            font-style: italic
            +fw(700)
            +fs($b)
        .item-icon
            +whs($b*1.25)
            +mr($b05)
    .with-icon
        +mb($b025)
    .item-content
        +c($d1)
        display: -webkit-box
        -webkit-line-clamp: 10
        -webkit-box-orient: vertical
        overflow: hidden
        text-overflow: ellipsis
    .item-children
        +df
        +fwr
        +jca
        // +pb($b)
        // +dg
        +mxh($b4*5)
        +mxw($b4*5)
        overflow-y: scroll
        // align-items: center
        // overflow-x: hidden
    .item-icon
        +whs($b2)
        object-fit: cover
        +r
    .icon-only
        +whs($b4)

    .item-title
        +ta(center)
        font-style: italic
        +fw(700)
        +fs($b)
        +mxw($b4*2)

    &:hover
        +shd1
        transform: scale(1.09)
        .right
            +o(1)
    &:active
        +trs(.1s)
        transform: scale(1)
        .right
            +trs(.1s)
            +o(0)

    +fadein
    .x
        +dn
        fill: $re
        +whs($b*1.5)
        +posa
        +t(-$b * .5)
        right: -$b * .5
        +s
        &:hover
            transform: scale(1.25)

    

    // &:nth-of-type(2)
    //     +bdr($a)
    //     .title
    //         +c($a)
    //     .item-content
    //         +c(transparentize($a, 0.1))
    // &:nth-of-type(4)
    //     +bdr($orange)
    //     .title
    //         +c($orange)
    //     .item-content
    //         +c(transparentize($orange, 0.1))
.has-children
    &:hover
        box-shadow: none
        transform: scale(1)
        .right
            +o(1)

.only-icon
    box-shadow: none
    +bgt
    +p(0)
    +bdrt
    .icon
        +m(0)
        +p(0)
    &:hover
        box-shadow: none
    
.no-content
    +df
    +fdc
    +aic
    +jcc
    .item-title
        +fs($b15)
    .item-icon
        +shd
        +whs($b4*2)
    .item-title
        +mt($b025)
.no-content-has-attributes
    +mxw($b4*4)
    +p($b2 $b15)
    
    .item-attribute
        +fdc
    .item-attribute-content
        +ta(center)
    @media (min-width: 900px)
        +fdr
        +mxw($b4*8)
        .item-head
            +mr($b2)
        .item-attributes
            +mxw($b4*5)
        


.item-attributes
    +df
    +fdc
    +w(100%)
    
    .item-attribute
        +w(100%)
        +df
        +jcb
        +aic
        +fw(300)
        font-style: italic
        +p($b025 0)
    .item-attribute-content    
        +mxw(70%)
    .item-attribute-title
        +fw(300)
        +fs($b075)
        font-style: italic
        +c($d1)
    .unchecked
        opacity: .5


.selected
    // +bdr($a, $b025)
    &::after
        content: " "
        +bdrrad($b)
        +whs(99%)
        // +bg(blue)
        +cen
        +bdr($a, $b025)

.dragging
    transform: scale(.8)
    opacity: .6
.dropping
    &::after
        content: " "
        +bdrrad($b)
        +whs(99%)
        // +bg(blue)
        +cen
        +bdr($a0, $b025)