@import "../../styles/utils"

.Sidebar
    +posa
    +z(2)
    +h(100%)
    +p($b $b05)
    +df
    +fdc
    +jcb
    .top, .bottom
        +df
        +fdc
        +aic
    .top
        .icon, .glow-cont
            +mb($b)
    .bottom
        .icon, .glow-cont
            +mt($b)
    $iconsize: $b*1.5
    .icon
        +whs($iconsize)
        +cp
        fill: $d
    .icon-inactive
        path
            +s
            fill: $d1
        &:hover
            path
                fill: $d    
    .icon-accent
        +c($a)
        fill: $a
    .icon-smaller
        +mt($b*.5)
        +whs($iconsize*.85)
    .icon-even-smaller
        +mt($b*.75)
        +whs($iconsize*.75)
    .opal-icon
        +posr
        right: $b*.05
    .search-icon
        +s
        +o(.75)
        &:hover
            +o(1)
    .glow-cont
        +posr
        .icon
            +m(0)
            +posr
            +z(2)
        .glow
            +posr
            +z(1)
            +bs(0 0 $b $a)
            +cen
            +whs($b075)
            +r
        .glow-s
            +tl($b*.62, $b*.62)
            +whs($b05)
    .realm-icon, .gear-icon
        +m(0 !important)
    .realm-icon-shield
        +mb($b)
        &:hover
            .RealmOptions
                +df
    .gear-icon-shield
        +mt($b05)
        &:hover
            .SettingsMenu
                +db
        
    .realm-icon-shield, .gear-icon-shield
        +whs($b2*.75)
        +posr
        +cenc
        &:hover
            .icon-inactive path
                fill: $d

.RealmOptions
    animation: fadein $t
    +p($b05)
    +h(max-content)
    +dn
    +fdc
    +posa
    +t(-$b*.5)
    right: -$b2*1.75
    +bg($l1)
    +shd
    +r
    +bdr($d2)
    .realm-option
        +cp
        +circ
        // +shd0
        +bdr($d2)
        +whs($b2)
        +bg($l)
        +cenc
        // +df
        +mb($b05)
        +s
        +posr
        &:last-of-type
            +mb(0)
        &:hover
            transform: scale(1.15)
            .realm-option-title
                +o(1)
    .realm-option-icon, .realm-option-icon-empty
        +whs($b2)
        object-fit: cover
        +circ
    .realm-option-icon-empty
        +bg(linear-gradient(transparentize($a1, .25), transparentize($a, .25)))
        +cenc
        .icon
            +m(0)
        svg
            fill: $l
            +whs($b)
    .realm-option-title
        +posa
        +t(10%)
        +l($b4*.75)
        +o(0)
        +s
        +w(max-content)
        +fs($b075)
        +fw(600)
        // +bg(transparentize($l1, ))
        +shd
        +bg($a)
        +c($w)
        +p($b05 $b)
        +cenc
        +r
    .realm-option-bridge
        // +bg(blue)
        +posa
        +wh(50%, 100%)
        +t(0)
        +l(-$b)

@keyframes fadein
    0%
        +o(0)
    100%
        +o(1)


.SettingsMenu
    +dn
    +posa
    +l($b2)
    +b(0)
    +shd
    +r
    +bdr($d2)
    +z(2)
    animation: fadein $t
    // +p($b05)
    // +pb($b05)
    +bg($l)
    +w($b4*4)
    +fs($b075)
    cursor: default
    .settingsmenu-top
        +df
        +jcb
        +aic
        +p($b05 $b)
        h5
            +fs($b)
        h6
            +fs($b075)
            font-style: italic
            +c($d1)
    .settingsmenu-menu
        +bg($l0)
        +p($b05 0)
        +oh
        +r
        border-top-left-radius: 0
        border-top-right-radius: 0
        hr
            +bdrn
            +bdrb($d2)
            +m($b05 0)
        p
            +cp
            +p($b025 $b)
            // +o(.5)
            +c($d1)
            +s
            +df
            +jcb
            +aic
            svg
                +m(0 !important)
                fill: $d1
                +whs($b)
                +s
            &:hover
                // +o(1)
                +c($d)
                svg
                    fill: $d
    .settingsmenu-bridge
        +posa
        +z(-1)
        +wh(50%, 35%)
        +b(0)
        +l(-$b)