@import "../../styles/utils"

.Sidebar
    +posa
    +z(2)
    +h(100%)
    +p($b $b05)
    +df
    +fdc
    +jcb
    .top, .bottom
        +df
        +fdc
        +aic
    .top
        .icon, .glow-cont
            +mb($b)
    .bottom
        .icon, .glow-cont
            +mt($b)
    $iconsize: $b*1.5
    .icon
        +whs($iconsize)
        +cp
        fill: $d
    .icon-inactive
        path
            +s
            fill: $d1
        &:hover
            path
                fill: $d    
    .icon-accent
        +c($a)
        fill: $a
    .icon-smaller
        +mt($b*.5)
        +whs($iconsize*.85)
    .icon-even-smaller
        +mt($b*.75)
        +whs($iconsize*.75)
    .opal-icon
        +posr
        right: $b*.05
    .search-icon
        +s
        +o(.75)
        &:hover
            +o(1)
    .glow-cont
        +posr
        .icon
            +m(0)
            +posr
            +z(2)
        .glow
            +posr
            +z(1)
            +bs(0 0 $b $a)
            +cen
            +whs($b075)
            +r
        .glow-s
            +tl($b*.62, $b*.62)
            +whs($b05)